*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
section,footer{
    margin-top: 130px;
}
/* shared style */
.heading{
  color: #181818; 
}
.para{
    color: #757575;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    color: #FFF8F3;
    font-size: 20px;
    padding: 18px 35px; 
    border-radius: 5px;
    cursor: pointer;

}
.btn:hover{
    box-shadow: 2px 2px 5px gray;
    background-color: white;
    color: #FD6E0A;
}
.colour-orange{
    color: #FD6E0A;
}

/* element style */
.header{
    background-color:  #FFF8F3;padding-top: 50px;
    background: url(./developer.png) ,url(./header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px,bottom right;
}
.navbar{
    /* border: 1px solid; */
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.navbar h2{
     font-size: 45px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;

}
nav ul li{
    list-style-type: none;
    font-size: 20px;
    
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-content{
    /* border: 1px solid; */
    /* width: 71%; */
    max-width: 1332px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 310px;
    margin-right: 38px;
}
.header-elements{
    max-width: 585px ;
    /* margin-top: 297px; */
}
.header-elements h1{
    font-size: 80px;
    font-weight: bold;
    margin: 15px 0;
}
.header-elements p{
    margin: 20px 0;
}
/* .header-image{
    max-width: 584px;
} */
.header-image img{
        max-width: 584px;
        height: 676px;
       vertical-align: middle;
}

.section1-content{
    background-color: #FFF8F3;
    width: 1140px;
    margin: 0 auto;
    text-align: center;
     padding: 130px 150px;
     border-radius: 10px;
}
.section1-content h1{
      margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    margin: 30px 22px 0;
}
.about-info h4{
    /* font-size: 15px; */
     color: #474747;
}
.section2{
    text-align: center;
}
.section2-heading h1,p{
    max-width: 827px;
    margin: 20px auto;
} 
.section2-cards{
    /* border: 3px solid pink; */
    margin-top: 90px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 1100px;
}

 .section2-card{
    /* border: 1px solid; */
    text-align: left;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.065);
 }
 .section2-card h4,p{
    margin-top:20px ;
 }

 .section2-card h4{
    font-size: 20px;
    color: #181818;
 }
 .section3{
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    /* border: 1px solid; */
 }
.section3-heading{
    margin: 60px;
}
hr{
    width: 500px;
}
 .section3-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: left;
    padding: 10px;

 }
 .section3-content h1,h2{
    margin-bottom: 20px;
    margin-top: 20px;
 }
 .education, .experience{
    max-width: 550px;
    padding-right: 110px;
 }
 
  .footer{
    background-color: #FFF8F3;
    padding: 130px 230px;
    display: flex;
    justify-content: space-around;
  }
  .footer-text{
    /* border: 1px solid; */
    width: 500px;
  }
  .footer input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
  }
  .footer textarea{
   width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none; 
  }
